*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Dosis', sans-serif;

    background-color: #9dd9fc;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2397994a' fill-opacity='0.32'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header{
    display: grid;
    grid-template-columns: 30% 70%;    
    height: 250px;
    overflow: hidden;   
    background-color: #37EAA8; 
}

div.header-img{
    background-image: url(imgs/header.jpg);
    background-repeat: none;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

div.logo-img{    
    background-image: url(imgs/logo.png);
    background-position: center;        
    background-size: 55%;
    background-repeat: no-repeat;
}


nav{
    background-color: #44CCEB;
    height: 45px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.as{       
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;    
    height: 5px;
}

.as div{
    margin-top: 10px;    
    height: 20px;
    width: 65%;    
    border-radius:5px;
}

.logo{ 
    height: 45px;    
    margin-left: 45px;
    border-radius: 100%;
}

.principal{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 15%;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Dosis', sans-serif;
}

a:hover{
    color: white;
    transition: 1s;
}
h5{
    border: 3px solid #44CCEB;
    text-align: center;   
    align-self: stretch;
    position: static;
    bottom: 0;
    width: 100%;
    box-sizing: border-boxs;
    display: inline-flexbox;
    margin-top: auto;
    
}

.Contienetabla{
    width: 70%;
    margin-left: 15px;
    text-align: left;
    margin-top: 20px;

    
}
td{
    padding: 10px;
    border-collapse: collapse;
    background-color: #5FA8D3;
}
th{
    background-color: #1B4965;
    border-bottom:solid  5px;
    font-family: 'Dosis', sans-serif;
    color: #BEE9E8;
}
tr:hover td{
    background-color: #62B6CB;
}
.Formulario{
    width: 40%;
    background-color: #CAE9FF;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 2rem;
    border-color: #1B4965 solid;
    border-width: 5px;
    box-sizing: border-box;

}
